
<ion-content >
  <div class="bg">
    <form [formGroup]="crendenciales" (ngSubmit)="register()">
      <ion-title>Register</ion-title>
  
      <ion-item fill="solid" class="ion-margin-bottom">
        <ion-input type="text" placeholder="Nombre de usuario" id="Nombre"></ion-input>
      </ion-item>
  
      <ion-item fill="solid" class="ion-margin-bottom">
        <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
        <ion-note slot="error" *ngIf="(email.dirty || email.touched) && email.errors">Email inválido</ion-note>
      </ion-item>
  
      <ion-item fill="solid" class="ion-margin-bottom">
        <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
        <ion-note slot="error" *ngIf="(password.dirty || password.touched) && password.errors">La contraseña debe tener mínimo 6 caracteres</ion-note>
      </ion-item>
  
      <ion-button expand="full" type="submit"  color="white">Registrarme</ion-button>
      <ion-button expand="full" type="button" color="white" (click)="redirectToLogin()">Volver al Login</ion-button>
    </form>
  </div>
  
</ion-content>
